caption.subheader {
  font-size: 1.5em;
  text-align: left;
}

td.actions {
  white-space: nowrap;
  width: 1%;
}

#done {
  margin-left: 1em;
}

.inline-errors {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  padding: 5px 10px;
}

#products-grid {
  width: 100%;
}
