<h1>Products</h1>

<div id="form"></div>
<div id="list"></div>

<script id="form_view" type="text/template">
  <h2>New Product</h2>
  <p>Name: <input type="text" id="name" /></p>
  <p>Name: <textarea id="description"></textarea></p>
  <p>Name: <input type="number" id="price" /></p>
  <p><button>Create</button></p>
</script>
