<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Products', root_path %></h1>
    </li>
  </ul>
</nav>

<div class="row">
  <div id="form" class="small-4 columns"></div>
  <div id="list" class="small-8 columns"></div>
</div>

<script id="products-grid-template" type="text/template">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</script>

<script id="product-row-template" type="text/template">
  <td><%%= name %></td>
  <td><%%= showPrice() %></td>
  <td><%%= description %></td>
</script>

<script id="no-products-template" type="text/template">
  <h2>No Products</h2>
</script>

<script id="form-template" type="text/template">
  <h2>New Product</h2>
  <p>Name: <input type="text" id="name" /></p>
  <p>Price: <input type="number" id="price" /></p>
  <p>Description: <textarea id="description"></textarea></p>
  <p><button>Create</button></p>
</script>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    // Bootstrap products to eliminate HTTP request
    $(function() {
      ProductsApp.products.reset(<%=raw products_array_as_json_helper @products %>);
    });
  <% end %>
<% end -%>
